body{
    background: grey;
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.waiting div {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: darkmagenta ;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.waiting div:nth-child(2){
    background-color: orange;
    animation-delay: 0.4s;
}

.waiting div:nth-child(3){
    background-color: blue;
    animation-delay: 0.8s;
}

@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px)
    }
}